@import "../bootstrap";
body {
  background-color: white;
}
.navBar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto-Regular";
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .nombre {
    color: #f9ba3e;
    padding: 0.5rem 1rem;
    margin: 0px;
  }
  .dogIcon,
  .user {
    width: 40px;
  }

  .dropdown-toggle {
    color: black;
    font-family: "Rambla-Bold";
  }
}

.info-seccion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
  column-gap: 3rem;
  padding-bottom: 1rem;
}
.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 18rem;
  padding: 20px;
  //   border: 1px solid black;
}
.photo-subcontainer {
  position: relative;
}
.price {
  background-color: #f9ba3e;
  color: white;
  width: 4rem;
  text-align: center;
  height: 1.5rem;
  border-radius: 0.7rem;
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  margin: 0;
}
.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.user-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.star {
  width: 1.5rem;
  height: auto;
}
.rating-number {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.greeting {
  font-style: italic;
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
}
.statistics {
  margin: 0;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
}
.content-info {
  font-weight: bold;
  margin: 0;
}
.info {
  margin-top: 0;
  font-family: "Rambla-Regular";
}
.district-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding-bottom: 1rem;
}
.district {
  margin: 0;
  background-color: #aadb55;
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}
.icon-button {
  height: 1.5rem;
  width: auto;
  margin-right: 0.5rem;
}
.button-perfil {
  height: 2rem;
  border-radius: 1rem;
  background-color: white;
  border: grey 1px solid;
  box-shadow: 0 4px 2px -2px gray;
}
.textarea {
  resize: none;
  border-radius: 0.5rem;
}
.input-form {
  border-radius: 0.5rem;
  height: 2rem;
  border: 1px solid grey;
}
.upload-photo {
  color: grey;
  margin-top: 0.6rem;
}
.file {
  margin: 0;
}
.footer-modal {
  display: flex;
  justify-content: space-between;
}
.button-modal {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 0px;
  background-color: white;
}
.modal-header {
  background-color: #f9ba3e;
  border-radius: 2rem;
}
.modal-content {
  border-radius: 2rem;
}
.modal-body {
  padding: 1rem 2rem;
}
.form-middle {
  width: 45%;
  padding-left: 0.5rem;
}
.name-lastname {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.phone {
  -moz-appearance: textfield;
}
.ratings {
  padding: 1rem 2rem;
}
.ratings-title {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: center;
}
.rating-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  //   padding: 0.5rem 0rem;
}
.rating-name {
  margin: 0;
  font-weight: bold;
}
.rating-comment {
  margin: 0;
  font-style: italic;
}
