@import "../bootstrap";

body {
  background: fixed;
  background-image: url("/images/backgroundBlur.png");
  background-size: cover;
  margin: 0;
}

.container {
  width: 50%;
  .text-center {
    background-color: #f9ba3e;
    border-radius: 65px;
    margin-top: 5%;

    position: relative;

    h2 {
      font-family: "Roboto-Bold";
      font-size: 36px;
      text-align: center;
    }
  }
  .row {
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 55px;
    margin-top: -90px;
    padding-top: 100px;
    margin-bottom: 10%;
  }

  .dni {
    width: 80%;
    position: relative;
    margin-left: 15%;
    margin-top: 5%;
  }

  form {
    .row {
      background-color: rgba(255, 255, 255, 0.01);
      margin-bottom: 0%;
    }

    .logo {
      width: 300px;
      margin-bottom: 20px;
    }

    .btn-primary {
      width: 200px;
      background-color: white;
      color: black;
      border: 0.3px solid #000000;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 19px;
      font-family: "Roboto-Bold";
    }
    h1 {
      text-align: center;
      font-family: "Roboto-Bold";
      color: #000000;
    }
    .texto {
      line-height: 28px;
      text-align: center;
      letter-spacing: -0.015em;
      color: #a5a5a5;
      margin-top: 5px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 995px) {
  body {
    min-width: 700px;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
}
