<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/views_styles/after_login.css" rel="stylesheet">
    <title>After Login</title>
</head>

<body>
    <header>
        <nav class="navBar">
            <div class="navBar_container">
                <p class="nombre">WalkingPET <img class="dogIcon" src="../images/dogIcon.png"></p>
                <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                    Manuel Baella <img class="user" src="../images/user.png">
                </a>
            </div>
        </nav>
    </header>
</body>
<main>
    <div class="main_container">
        <section>
            <article>
                <h2>Selecciona tu distrito</h2>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active"
                        aria-current="true">Miraflores</button>
                    <button type="button" class="list-group-item list-group-item-action">Breña</button>
                    <button type="button" class="list-group-item list-group-item-action">San Isidro</button>
                    <button type="button" class="list-group-item list-group-item-action">Barranco</button>
                    <button type="button" class="list-group-item list-group-item-action">La Molina</button>
                    <button type="button" class="list-group-item list-group-item-action">Callao</button>
                    <button type="button" class="list-group-item list-group-item-action">Cercado de Lima</button>
                    <button type="button" class="list-group-item list-group-item-action">San Martin de Porres</button>
                    <button type="button" class="list-group-item list-group-item-action">San Miguel</button>
                </div>
            </article>
        </section>
        <aside>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="../images/person1.png" class="card-img-top" alt="...">
                        <figcaption><span>S./ 16</span></figcaption>
                        <div class="card-body">
                            <h5 class="card-title">Helen Arias</h5>
                            <p class="stars">⭐⭐⭐⭐⭐</p>
                            <p class="card-calification">4.9</p>
                            <p class="card-text">Los perros tambien son el mejor amigo de las mujeres.<br>
                                <span>15 calificaciones | 19 paseos realizados</span>
                            </p>
                            <a href="#" class="btn"><img class="dogButton" src="../images/dogButton.png">Quiero un
                                paseo</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../images/person2.png" class="card-img-top" alt="...">
                        <figcaption><span>S./ 16</span></figcaption>
                        <div class="card-body">
                            <h5 class="card-title">Alex Marino</h5>
                            <p class="stars">⭐⭐⭐⭐⭐</p>
                            <p class="card-calification">4.8</p>
                            <p class="card-text">Entrenador de perros profesional.<br>
                                <span>15 calificaciones | 19 paseos realizados</span>
                            </p>
                            <a href="#" class="btn"><img class="dogButton" src="../images/dogButton.png">Quiero un
                                paseo</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../images/person3.png" class="card-img-top" alt="...">
                        <figcaption><span>S./ 16</span></figcaption>
                        <div class="card-body">
                            <h5 class="card-title">Javier Sandoval</h5>
                            <p class="stars">⭐⭐⭐⭐⭐</p>
                            <p class="card-calification">5.0</p>
                            <p class="card-text">El mas confiable para tu amigo canino!<br>
                                <span>15 calificaciones | 19 paseos realizados</span>
                            </p>
                            <a href="#" class="btn"><img class="dogButton" src="../images/dogButton.png">Quiero un
                                paseo</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../images/person4.png" class="card-img-top" alt="...">
                        <figcaption><span>S./ 16</span></figcaption>
                        <div class="card-body">
                            <h5 class="card-title">Susan Avila</h5>
                            <p class="stars">⭐⭐⭐⭐⭐</p>
                            <p class="card-calification">5.0</p>
                            <p class="card-text">Tu perruno y yo nos vamos a llevar muy bien!<br>
                                <span>15 calificaciones | 19 paseos realizados</span>
                            </p>
                            <a href="#" class="btn"><img class="dogButton" src="../images/dogButton.png">Quiero un
                                paseo</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../images/person5.png" class="card-img-top" alt="...">
                        <figcaption><span>S./ 16</span></figcaption>
                        <div class="card-body">
                            <h5 class="card-title">Nestor Magariño</h5>
                            <p class="stars">⭐⭐⭐⭐⭐</p>
                            <p class="card-calification">4.9</p>
                            <p class="card-text">El mejor cuidador de perros!<br>
                                <span>15 calificaciones | 19 paseos realizados</span>
                            </p>
                            <a href="#" class="btn"><img class="dogButton" src="../images/dogButton.png">Quiero un
                                paseo</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../images/person6.png" class="card-img-top" alt="...">
                        <figcaption><span>S./ 16</span></figcaption>
                        <div class="card-body">
                            <h5 class="card-title">Luna Agreda</h5>
                            <p class="stars">⭐⭐⭐⭐⭐</p>
                            <p class="card-calification">4.7</p>
                            <p class="card-text">Solo un alma buena simpatiza con el alma de un perro.<br>
                                <span>15 calificaciones | 19 paseos realizados</span>
                            </p>
                            <a href="#" class="btn"><img class="dogButton" src="../images/dogButton.png">Quiero un
                                paseo</a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</main>

</html>