<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/views_styles/registro_extra_paseador.css" rel="stylesheet">
    <title>Registro Extra</title>
</head>

<body>

    <div class="container">
        <div class="py-5 text-center p-lg-4">
            <h2>Verificacion de Identidad</h2>
        </div>
        <div class="row">
            <div class="col-md-8 order-md-1 justify-content-center">
                <form class="needs-validation" novalidate>
                    <img class="dni" src="/images/dni.png">
                    <H1>FOTO DE DNI</H1>
                    <input class="form-control file" type="file" />
                    <p class="texto">Necesitamos la foto de tu DNI.
                        Asegurate de que todos los detalles de la
                        foto sean visibles.</p>
                    <div class="row">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Finalizar Registro</button>
                    </div>
                    <hr class="mb-2">
                    <div class="row">
                        <img class="logo" src="../images/logo.png">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>